@media(max-width: 1100px){
    .html{ 
        font-size: 70%;
    }
    .container{
        padding: 0 50px;
    }
    .navbar .logo img{
        margin: 0 -50px;
        width: 85%;
    }

    .normal_content{
        grid-template-columns: repeat(2,1fr);
    }

    .products_content {
        grid-template-columns: repeat(2,1fr);
    }

}

@media(max-width: 820px){

    /*showcase start*/
    .container{
        padding: 0 35px;
    }
    .navbar .logo img{
        margin: 0 -50px;
        width: 90%;
    }

    #showcase .content{
        width: 100%;
    }
    .navbar .btn{
        display: block;
    }
    .navbar nav{
        position: fixed;
        flex-direction: column;
        min-height: 50vh;   
        min-width: 100%;
        top:0;
        right: -100%;
        background: var(--light-dark);
        align-items: flex-start;
        justify-content: center;
        transition: all 0.5s ease-in-out;
    }

    .navbar nav.active{
        right: 0;
        transition: all 0.5s ease-in-out;
    }

    .navbar nav li{
        margin: 1rem 2rem;
        border-bottom: 1px solid #ddd;
        padding-bottom: 1rem;
        width: 100%;
    }

    .close_btn{
        position: absolute;
        top: 0;
        left: 90%;
        margin: 25px;
    }

    .navbar nav li a:hover{
        color:var(--primary-color);
    }

        /*showcase end*/
        /*services start*/


    #services{
        margin-top: -20% ;
        }

    #services .services_content{
        grid-template-columns: repeat(2, 1fr);
    }
        /*services end*/
        /*product start*/

    .product_content{
        grid-template-columns: repeat(1,1fr);
    }

    .pro_left_side img{
        display: block;
        object-fit: cover;
        transform: translateY(-60px);
    }

        /*product end*/
        /*normal box content start*/


    
        /*normal box content end*/

    .oculus_content{
        grid-template-columns: repeat(1,1fr);
    }

    #oculus .oculus_content img{
        margin: 10px auto;
        width: 100%;
    }

    .iPad_content{
        grid-template-columns: repeat(1,1fr);

    }
    .iPad_content img{
        width: 80%;
    }

    .sp_boxes{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width: 569px){
    .container{
        padding: 0 25px;
    }


    #showcase h2{
        font-size: 3rem;
    }

    #services{
        margin-top: -30%;
        }
    #services .services_content{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .pro_right_side {
        grid-template-columns: repeat(1,1fr);
    }
    .pro_right_side .products:first-child{
        grid-column: 1/1;
    }

    .normal_content{
        grid-template-columns: repeat(1,1fr);
    }

    .products_content {
        grid-template-columns: repeat(1,1fr);
    }

    .sp_boxes{
        grid-template-columns: repeat(1,1fr);
    }

}